{% extends "base.html" %}

{% block page %}Create Post{% endblock %}

{% block style %}create_post{% endblock %}

{% block title %}
  <div id="title">
    <h1>Post Template</h1>
  </div>
{% endblock %}

{% block content %}
  <div id="post-contain">
    <form method="POST" enctype="multipart/form-data">
      <div class="post-title">
        <label for="image">Image</label>
        <input id="img-upload" type="file" id="image" name="image">
      </div>
      <div class="post-title">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="title">
      </div>
      <div class="post-title">
        <label for="text">Content</label>
        <textarea name="text" id="text" class="text-area"></textarea>
      </div>
      <br>
      <div id="button-contain">
        <button type="submit" class="sub_btn">Post</button>
      </div>
    </form>
  </div>
{% endblock %}
