{% extends "base.html" %}

{% block page %}Gym Dictionary{% endblock %}

{% block style %}gym_dict{% endblock %}

{% block title %}{% endblock %}

{% block content %}
  <div class="all-contain">
    <div class="info-container">
        <h3>Gym Dictionary</h3>
        <p>Nisi qui consectetur esse cupidatat fugiat consequat. Sit id magna magna. Reprehenderit tempor cupidatat consequat. Labore excepteur aliqua est duis tempor nisi commodo. Ullamco exercitation reprehenderit irure mollit irure ad dolor laborum dolor laboris cupidatat.</p>
        <p>Sit reprehenderit nostrud magna dolore ea proident cupidatat non nisi commodo consequat veniam. Veniam dolore et veniam sint duis non cillum exercitation dolore. Do consequat et voluptate quis eiusmod excepteur velit deserunt officia proident velit dolor minim excepteur in. Duis dolor adipisicing incididunt exercitation elit exercitation et irure anim non ut quis eiusmod magna exercitation. Commodo officia culpa esse ea exercitation sint Lorem in sint exercitation et ex anim id.</p>
        <p>Nisi qui consectetur esse cupidatat fugiat consequat. Sit id magna magna. Reprehenderit tempor cupidatat consequat. Labore excepteur aliqua est duis tempor nisi commodo. Ullamco exercitation reprehenderit irure mollit irure ad dolor laborum dolor laboris cupidatat.</p>
        <p>Sit reprehenderit nostrud magna dolore ea proident cupidatat non nisi commodo consequat veniam. Veniam dolore et veniam sint duis non cillum exercitation dolore. Do consequat et voluptate quis eiusmod excepteur velit deserunt officia proident velit dolor minim excepteur in. Duis dolor adipisicing incididunt exercitation elit exercitation et irure anim non ut quis eiusmod magna exercitation. Commodo officia culpa esse ea exercitation sint Lorem in sint exercitation et ex anim id.</p>
        <p>Nisi qui consectetur esse cupidatat fugiat consequat. Sit id magna magna. Reprehenderit tempor cupidatat consequat. Labore excepteur aliqua est duis tempor nisi commodo. Ullamco exercitation reprehenderit irure mollit irure ad dolor laborum dolor laboris cupidatat.</p>
    </div>

    <div class="cover-container">
      <div id="front-cover" class="cover">
        <div class="content">
          <h1>Gym Dictionary</h1>
          <h3>Learn the Language of the Gym</h3>
          <img src="{{ url_for('static', filename='./images/bro.jpeg') }}">
          <small>By: Gym Bros</small>
        </div>
      </div>
    </div>

    <div class="book-contain">
      <div class="book">
        <div class="hard">
          <h1>Gym Dictionary</h1>
          <small>By: Gym Bros</small>
        </div>
        <div class="hard"></div>

        <div>
          <small>"this is a quote"</small>
          <small>Wow this is crazy</small>
        </div>

        <div>
          <small>Page 1</small>
        </div>

        <div>
          <small>Page 2</small>
        </div>

        <div>
          <small>Page 3</small>
        </div>

        <div class="hard"></div>
        <div class="hard">Message for Gym Bros</div>
      </div>
    </div>
    <div id="back-cover" class="cover"></div>
  </div>

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='turn.js') }}"></script>
  <script>$(".book").turn()</script>
  <script src="{{ url_for('static', filename='gym_dict.js') }}"></script>
{% endblock %}

{% block foot %}{% endblock %}
