{% extends "base.html" %}

{% block page %}Gym Dictionary{% endblock %}

{% block style %}gym_dict{% endblock %}

{% block title %}{% endblock %}

{% block content %}
  <div class="all-contain">
    <div class="cover-container">
      <div id="front-cover" class="cover">
        <div class="content">
          <h1>Gym Dictionary</h1>
          <h3>Learn the Language of the Gym</h3>
          <img src="{{ url_for('static', filename='./images/bro.jpeg') }}">
          <small>By: Gym Bros</small>
        </div>
      </div>
    </div>

    <div class="book-contain">
      <div class="book">
        <div class="hard">
          <h1>Gym Dictionary</h1>
          <small>By: Gym Bros</small>
        </div>
        <div class="hard"></div>

        <div>
          <small>"this is a quote"</small>
          <small>Wow this is crazy</small>
        </div>

        <div>
          <small>Page 1</small>
        </div>

        <div>
          <small>Page 2</small>
        </div>

        <div>
          <small>Page 3</small>
        </div>

        <div class="hard"></div>
        <div class="hard">Message for Gym Bros</div>
      </div>
    </div>
    <div id="back-cover" class="cover"></div>
  </div>

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='turn.js') }}"></script>
  <script>$(".book").turn()</script>
  <script src="{{ url_for('static', filename='gym_dict.js') }}"></script>
{% endblock %}

{% block foot %}{% endblock %}
