{% extends "base.html" %}

{% block page %}Home{% endblock %}

{% block style %}style{% endblock %}

{% block title %}
  <div id="title">
    <h1>Gym Bros</h1>
  </div>
{% endblock %}

{% block content %}
  <div id="post-container">
    {% for post in posts %}
    <div class="post" data-post-id="{{ post.id }}">

      <div class="top-profile-contain">
        <div class="profile-container">
          <div class="profile-pic">
            <a href="/profile/{{ post.user.username }}"><img src="{{ url_for('static', filename='./images/face.jpg') }}"></a>
            <!-- Have src of profile img lead to profile pic in db -->
          </div>

          <div class="author">
            <h2 class="name">{{ post.user.username }}</h2>
          </div>
        </div>

        <div class="follow-friend">
          {% if current_user.user_id == post.user.user_id %}
          <div class="add-btn followBtn" id="follow-div" data-userId="{{ post.user.user_id }}">
            <p class="add-btn" style="margin-left: -18px;">Followers</p>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M14 14.252v2.09A6 6 0 0 0 6 22H4a8 8 0 0 1 10-7.749M12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m5.793 8.914l3.535-3.535l1.415 1.414l-4.95 4.95l-3.536-3.536l1.415-1.414z"/></svg>
            <span class="f-count" id="followers-count-{{ post.user.user_id }}">{{ post.user.follower_count() }}</span>
          </div>

          <div class="add-btn" id="friend-div" data-userId="{{ post.user.user_id }}">
            <p style="margin-left: -12px;">Friends</p>
            <svg width="24" height="24" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1536 1536h-13q-23-112-81-206t-141-162t-187-106t-218-38q-88 0-170 23t-153 64t-129 100t-100 130t-65 153t-23 170H128q0-120 35-231t101-205t156-167t204-115q-113-74-176-186t-64-248q0-106 40-199t109-163T696 40T896 0t199 40t163 109t110 163t40 200q0 66-16 129t-48 119t-75 103t-101 83q112 43 206 118t162 176zM512 512q0 80 30 149t82 122t122 83t150 30q79 0 149-30t122-82t83-122t30-150q0-79-30-149t-82-122t-123-83t-149-30q-80 0-149 30t-122 82t-83 123t-30 149m1280 1152h256v128h-256v256h-128v-256h-256v-128h256v-256h128z"/></svg>
            <span class="f-count" id="friends-count-{{ post.user.user_id }}">{{ post.user.mutual_followers_count() }}</span>
          </div>
          {% else %}
          <a class="add-btn followBtn" id="follow-div" data-userId="{{ post.user.user_id }}">
            {% if current_user.is_following(post.user) %}
            <p id="followText-{{ post.user.user_id }}" style="margin-left: -9px;">Unfollow</p>
            {% else %}
            <p id="followText-{{ post.user.user_id }}" style="margin-left: -9px;">Follow</p>
            {% endif %}
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M14 14.252v2.09A6 6 0 0 0 6 22H4a8 8 0 0 1 10-7.749M12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m5.793 8.914l3.535-3.535l1.415 1.414l-4.95 4.95l-3.536-3.536l1.415-1.414z"/></svg>
            <span class="f-count" id="followers-count-{{ post.user.user_id }}">{{ post.user.follower_count() }}</span>
          </a>

          <a class="add-btn" id="friend-div" data-userId="{{ post.user.user_id }}">
            <p id="friendText" style="margin-left: -9px;">Friend</p>
            <svg width="24" height="24" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1536 1536h-13q-23-112-81-206t-141-162t-187-106t-218-38q-88 0-170 23t-153 64t-129 100t-100 130t-65 153t-23 170H128q0-120 35-231t101-205t156-167t204-115q-113-74-176-186t-64-248q0-106 40-199t109-163T696 40T896 0t199 40t163 109t110 163t40 200q0 66-16 129t-48 119t-75 103t-101 83q112 43 206 118t162 176zM512 512q0 80 30 149t82 122t122 83t150 30q79 0 149-30t122-82t83-122t30-150q0-79-30-149t-82-122t-123-83t-149-30q-80 0-149 30t-122 82t-83 123t-30 149m1280 1152h256v128h-256v256h-128v-256h-256v-128h256v-256h128z"/></svg>
            <span class="f-count" id="friends-count-{{ post.user.user_id }}">{{ post.user.mutual_followers_count() }}</span>
          </a>
          {% endif %}
        </div>
      </div>
      
      <div class="post-pics">
        {% if post.image %}
          <img class="post-img" src="{{ url_for('pages.post_image', post_id=post.id) }}" alt="Post Image">
        {% endif %}
      </div>

      <div class="post-text">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        <p>{{ post.date_created }}</p>

        <div class="post-icons">
          {% if user.user_id == post.author %}
          <div class="inner-post-icons extra-trash">
            <a class="post-button del" href="javascript:void(0);" data-post-id="{{ post.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></a>
          {% else %}
          <div class="inner-post-icons">
          {% endif %}
            <div class="comment-container icon-num">
              <a class="post-button" id="com"><svg class="resp" id="comment" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/></svg></a>
              <div class="comment-box" id="comment-box-{{ post.id }}" data-visible="true">
                <div class="comment-list" id="comment-list-{{ post.id }}">
                  {% if post.comments|length > 0 %}
                    {% for comment in post.comments|sort(attribute='date_created', reverse=True) %}
                    <div class="single-comment" id="comment-{{ comment.id }}">
                      <p>{{ comment.text }}</p>
                      <div class="com-info">
                        <a class="com-username" href="{{ url_for('pages.profile', username=comment.user.username) }}">{{ comment.user.username }}</a>
                        <p class="com-date">{{ comment.date_created }}</p>
                      <!-- Author of post can delete comments on his post -->
                      <!-- Author of comment can delete his comments on any post -->
                      {% if user.user_id == comment.author or user.user_id == post.author %}
                        <a class="post-button" id="com-trash" href="javascript:void(0);" data-comment-id="{{ comment.id }}" data-post-id="{{ post.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></a>
                      {% endif %}
                      </div>
                      <!-- ^ Maybe add profile picture? ^ -->
                    </div>
                    {% endfor %}
                  {% else %}
                    <div class="single-comment no-comments">
                      <p>No Comments</p>
                    </div>
                  {% endif %}
                </div>

                <form class="comment-form" id="comment-form-{{ post.id }}" method="post" action="/comment/{{ post.id }}">
                  <input type="text" id="text" name="text" placeholder=" Write a comment...">
                  <button type="submit">Post Comment</button>
                </form>

              </div>
              <span id="comments-count-{{ post.id }}">{{ post.comments|length }}</span>
            </div>

            <div class="icon-num">
              {% if user.user_id in post.likes|map(attribute="author")|list %}
                <a class="post-button liked_post hrz" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"><svg class="resp" id="herz" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg></a>
              {% else %}
                <a class="post-button not_liked_post hrz" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"><svg class="resp" id="herz" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg></a>
              {% endif %}
              <span id="likes-count-{{ post.id }}">{{ post.likes|length }}</span>
            </div>

            <a class="post-button" id="shr"><svg class="resp" id="share" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/></svg></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </div>
{% endblock %}
