{% extends "base.html" %}

{% block page %}Leaderboards{% endblock %}

{% block style %}leagues{% endblock %}

{% block title %}
  <div id="title">
    <h1>Leaderboards</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="lg-contain">
    <form class="options">
      <h2>World:</h2>
      <select name="league-type">
        <option value="mine">My League</option>
      </select>
      <h2>|</h2>
      <select name="goal-type">
        <option value="overall">Overall (average)</option>
        <option value="strength">Strength (1RM)</option>
        <option value="weight">Weight (gain/lose)</option>
      </select>
      <h2>|</h2>
      <select name="timeframe">
        <option value="month">Month</option>
        <option value="year">Year</option>
        <option value="week">Week</option>
        <option value="day">Day</option>
      </select>
    </form>

    <div class="lg-stats">
      <div id="all-top3" class="top3"></div>

      <div class="div-bar"></div>

      <div id="all-list" class="lg-list"></div>
        {% for usr in users %}

          {% set prog = 0 %}

          {% if usr.bench_now %}
            {% set prog = prog + usr.bench_now %}
          {% endif %}
          {% if usr.squat_now %}
            {% set prog = prog + usr.squat_now %}
          {% endif %}
          {% if usr.clean_now %}
            {% set prog = prog + usr.clean_now %}
          {% endif %}
          {% if usr.deadlift_now %}
            {% set prog = prog + usr.deadlift_now %}
          {% endif %}

          {% set goal = 0 %}

          {% if usr.bench_future %}
            {% set goal = goal + usr.bench_future %}
          {% endif %}
          {% if usr.squat_future %}
            {% set goal = goal + usr.squat_future %}
          {% endif %}
          {% if usr.clean_future %}
            {% set goal = goal + usr.clean_future %}
          {% endif %}
          {% if usr.deadlift_future %}
            {% set goal = goal + usr.deadlift_future %}
          {% endif %}

        <div class="user" data-username="{{ usr.username }}" data-prog="{{ prog }}" data-goal="{{ goal }}">
          <div class="info-contain">
            <div class="place">
              <h3>#<span id="rank-{{ usr.username }}">0</span></h3>
            </div>
            <div class="profpic">
              <a href="{{ url_for('pages.profile', username=usr.username) }}"><img src="{{ url_for('static', filename='./images/face.jpg') }}"></a>
            </div>
            <div class="uname">
              {% if usr.user_id == current_user.user_id %}
              <a href="{{ url_for('pages.profile', username=usr.username) }}" style="background-color: #BA9593;">{{ usr.username }}</a>
              {% else %}
              <a href="{{ url_for('pages.profile', username=usr.username) }}">{{ usr.username }}</a>
              {% endif %}
            </div>
            <div class="progbar">
            {% if usr.bench_now and usr.bench_future or usr.squat_now and usr.squat_future or usr.clean_now and usr.clean_future or usr.deadlift_now and usr.deadlift_future %}
              <div class="tri">
                <div class="prog-bar-contain">
                {% if usr.user_id == current_user.user_id %}
                  <div class="prog-bar" id="prog-all" data-prog="{{ prog }}" data-goal="{{ goal }}" style="background-color: #BA9593;"></div>
                  <div class="triangle" style="border-bottom: 25px solid #BA9593;"></div>
                {% else %}
                  <div class="prog-bar" id="prog-all" data-prog="{{ prog }}" data-goal="{{ goal }}"></div>
                  <div class="triangle"></div>
                {% endif %}
                </div>
                <div class="triangle-cont"></div>
              </div>
            {% else %}
            <p>none</p>
            {% endif %}
            </div>
          </div>
          <div class="info-triangle"></div>
        </div>
        {% endfor %}
    </div>
  </div>

  <!-- add horizontal scroll div of current competitions with explore all btn -->

  <div class="lg-contain">
    <form class="options">

    </form>
    <div class="lg-stats">
      <!-- if more than 10 users in group competition -->
      <div class="top3">
        <div class="user"></div>
        <div class="user"></div>
        <div class="user"></div>
      </div>

      <div class="div-bar"></div>

      <div class="lg-list">
        <!-- for user in users organize by rank -->
        <div class="user"></div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='leagues.js') }}"></script>

{% endblock %}

{% block foot %}{% endblock %}
