{% extends "base.html" %}

{% block page %}Gym Library{% endblock %}

{% block style %}library{% endblock %}

{% block title %}{% endblock %}

{% block content %}
  <div class="contain-all">
    <div class="journal-contain">
      <div class="container">
	    	<div class="book">
	  		  <div class="front">
	  			  <div class="cover">
              <h3 class="name">Gym Dictionary</h3>
              <p class=author>Gym Bros</p>
	  			  </div>
	  		  </div>
	  		  <div class="left-side">
	  			  <h2>
	  			  	<span>Gym Bros</span>
	  			  	<span>Gym Dictionary</span>
	  			  </h2>
	  		  </div>
	  	  </div>
	    </div>

      <div class="container">
	    	<div class="book">
	  		  <div class="front">
	  			  <div class="cover">
              <h3 class="name">The Unwritten Rulebook</h3>
              <p class=author>Gym Bros</p>
	  			  </div>
	  		  </div>
	  		  <div class="left-side">
	  			  <h2>
	  			  	<span>Gym Bros</span>
	  			  	<span>The Unwritten Rulebook</span>
	  			  </h2>
	  		  </div>
	  	  </div>
	    </div>
    </div>
  </div>
{% endblock %}

{% block foot %}{% endblock %}
