{% extends "base.html" %}

{% block page %}1RM Calculator{% endblock %}

{% block style %}one_rm_calc{% endblock %}

{% block title %}
  <div id="title">
    <h1>1RM Calculator</h1>
    <h2 class="h2-key">Description</h2>
    <h4>This tool will calculate your one-rep max based on your any-rep max.</h4>
  </div>
{% endblock %}

{% block content %}
  <div class="contain">
    <div class="inner-wrap">
      <div class="over">
        <h2>One Rep Max</h2>
        <input type="text" name="onerm" id="onerm">
      </div>
      <form>
        <div class="form-contain">
          <label for="max">Max</label>
          <input type="number" name="max" id="max">
          <select name="measure">
            <option value="lbs">lbs</option>
            <option value="kg">kg</option>
          </select>
        </div>

        <div class="form-contain">
          <label for="count">Reps</label>
          <input type="number" name="count" id="count">
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='one_rm_calc.js') }}"></script>
{% endblock %}
{% block foot %}{% endblock %}
