{% extends "base.html" %}

{% block page %}Plate Calculator{% endblock %}

{% block style %}plate_calc{% endblock %}

{% block title %}
  <div id="title">
    <h1>Plate Calculator</h1>
    <h2 class="h2-key">Description</h2>
    <h4>This tool is a calculator to return which plates are needed on each side. It will also calculate how much weight comes from the plates you are using</h4>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-plates">
    <form class="form-contain" id="form-contain" onsubmit="return textReturn(event)">
      <label for="barWeight">Bar Weight</label>
      <input type="text" id="barWeight" placeholder="Enter Weight of Bar in Pounds">
      <label for="weight">Weight</label>
      <input type="text" id="weight" placeholder="Enter Weight in Pounds">
      <button type="submit" class="hidden">Submit</button>
    </form>

    <div class="plate-ani" id="aniPlate">
      <div class="bar" id="theBar"></div>
    </div>

    <h2 class="h2-key">Plate Key</h2>
    <div class="plate-key">
      <!--
        Create differentiation for lbs and kg
        If user.measurement == "lbs"
        h2 tag with lbs 
        else 
        h2 tag with kg 
        endif
      -->
      <div class="key-contain">
        <h2>45 lbs</h2>
        <div class="plate-45"></div>
        <h2 id="h2-45">0</h2>
      </div>
      <div class="key-contain">
        <h2>35 lbs</h2>
        <div class="plate-35"></div>
        <h2 id="h2-35">0</h2>
      </div>
      <div class="key-contain">
        <h2>25 lbs</h2>
        <div class="plate-25"></div>
        <h2 id="h2-25">0</h2>
      </div>
      <div class="key-contain">
        <h2>10 lbs</h2>
        <div class="plate-10"></div>
        <h2 id="h2-10">0</h2>
      </div>
      <div class="key-contain">
        <h2>5 lbs</h2>
        <div class="plate-5"></div>
        <h2 id="h2-5">0</h2>
      </div>
      <div class="key-contain">
        <h2>2.5 lbs</h2>
        <div class="plate-2-5"></div>
        <h2 id="h2-2-5">0</h2>
      </div>
    </div>

    <div class="plate-key borderless">
      <div class="key-contain add-rem">
        <a id="plate-45" class="add-plate" onclick="add45()">Add</a>
        <a id="rem-plate-45" class="add-plate" onclick="rem45()">Remove</a>
      </div>
      <div class="key-contain add-rem">
        <a id="plate-35" class="add-plate" onclick="add35()">Add</a>
        <a id="rem-plate-35" class="add-plate" onclick="rem35()">Remove</a>
      </div>
      <div class="key-contain add-rem">
        <a id="plate-25" class="add-plate" onclick="add25()">Add</a>
        <a id="rem-plate-25" class="add-plate" onclick="rem25()">Remove</a>
      </div>
      <div class="key-contain add-rem">
        <a id="plate-10" class="add-plate" onclick="add10()">Add</a>
        <a id="rem-plate-10" class="add-plate" onclick="rem10()">Remove</a>
      </div>
      <div class="key-contain add-rem">
        <a id="plate-5" class="add-plate" onclick="add5()">Add</a>
        <a id="rem-plate-5" class="add-plate" onclick="rem5()">Remove</a>
      </div>
      <div class="key-contain add-rem">
        <a id="plate-2-5" class="add-plate" onclick="add2_5()">Add</a>
        <a id="rem-plate-2-5" class="add-plate" onclick="rem2_5()">Remove</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='plate_calc.js') }}"></script>
{% endblock %}
{% block foot %}{% endblock %}
