{% extends "base.html" %}

{% block page %}Plate Calculator{% endblock %}

{% block style %}plate_calc{% endblock %}

{% block title %}
  <div id="title">
    <h1>Plate Calculator</h1>
    <h3>Description:</h3>
    <h5>This tool is a calculator to return which plates are needed on each side. It will also calculate how much weight comes from the plates you are using</h5>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-plates">
    <div class="plate-ani">
      <div class="plate-2-5"></div>
      <div class="plate-5"></div>
      <div class="plate-10"></div>
      <div class="plate-25"></div>
      <div class="plate-35"></div>
      <div class="plate-45"></div>
      <div class="bar"></div>
      <div class="plate-45"></div>
      <div class="plate-35"></div>
      <div class="plate-25"></div>
      <div class="plate-10"></div>
      <div class="plate-5"></div>
      <div class="plate-2-5"></div>
    </div>
  </div>
{% endblock %}
