{% extends "base.html" %}

{% block page %}Profile{% endblock %}

{% block style %}profile{% endblock %}

{% block title %}
  <div id="title">
    <h1>My Profile</h1>
  </div>
{% endblock %}

{% block content %}
  <div id="prof-pic">
    <img id="face" src="{{ url_for('static', filename='./images/face.jpg') }}">
    <h2>Dirk Rumfelt</h2>
    <h3>Life Motto:</h3>
    <p id="motto">"You're only going to get what you absolutely demand of yourself"</p>
  </div>
  <div class="contain">
    <div class="box" id="info">
      <h2>Basic Info</h2>
      <div class="info">
        <h3>Birthday:</h3>
        <p>July 30, 2006</p>
      </div>
      <div class="info">
        <h3>Gender:</h3>
        <p><strong>Gym Bro</strong>/Gym Girl</p>
      </div>
      <div class="info">
        <h3>Relationship Status:</h3>
        <p>Single Pringle</p>
      </div>
      <div class="info">
        <h3>Proteins & Supplements:</h3>
        <ul>
          <li>Creatine</li>
          <li>Whey Protein</li>
          <li>Jocko Mölk</li>
        </ul>
      </div>
    </div>

    <div class="box" id="stats">
      <h2>Current Stats</h2>
      <div class="info">
        <h3>Max Lifts:</h3>
        <p class="lst"><strong>Bench</strong>: <span>235</span></p>
        <p class="lst"><strong>Squat</strong>: <span>265</span></p>
        <p class="lst"><strong>Clean</strong>: <span>140</span></p>
        <p><strong>Deadlift</strong>: <span>320</span></p>
      </div>
      <div class="info">
        <h3>Other Sports:</h3>
        <p class="lst">Wrestling</p>
        <p class="lst">Boxing</p>
        <p>Jiu Jitsu</p>
      </div>
      <div class="info">
        <h3>Natty Status:</h3>
        <p>Positive</p>
      </div>
    </div>

    <div class="box" id="goals">
      <h2>Future Goals</h2>
      <div class="info">
        <h3>Max Lifts by End of Year:</h3>
        <p class="lst"><strong>Bench</strong>: <span>295</span></p>
        <p class="lst"><strong>Squat</strong>: <span>315</span></p>
        <p class="lst"><strong>Clean</strong>: <span>180</span></p>
        <p><strong>Deadlift</strong>: <span>380</span></p>
      </div>
      <div class="info">
        <h3>Sports:</h3>
        <p class="lst">Wrestle in College Division I</p>
        <p class="lst">Wrestle in State Tournament 2025</p>
        <p>Purple Belt in Jiu Jitsu 2025</p>
      </div>
      <div class="info">
        <h3>Dream Physique:</h3>
        <p>...</p>
      </div>
    </div>
  </div>
{% endblock %}
