{% extends "base.html" %}

{% block page %}Settings{% endblock %}

{% block style %}settings{% endblock %}

{% block title %}
  <div id="title">
    <h1>Settings</h1>
    <h3 id="exp">Shape Your Experience</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-all">
    <div class="settings-contain">
      <div class="views">
        <h2>Regulating My Feed</h2>
        <h3>For Gym Bros:</h3>
        <p>Committed: Show Only Guys in My Feed</p>
        <p>Diverse: Show Guys & Girls in My Feed</p>
        <h3>For Gym Girls:</h3>
        <p>Committed: Show Only Girls in My Feed</p>
        <p>Diverse: Show Girls & Guys in My Feed</p>
      </div>
    </div>
  </div>

{% endblock %}
