{% extends "base.html" %}

{% block page %}Settings{% endblock %}

{% block style %}settings{% endblock %}

{% block title %}
  <div id="title">
    <h1>Settings</h1>
    <h3 id="exp">Shape Your Experience</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-all">
    <div class="settings-contain">
      <div class="views">
        <h2>Regulating My Feed</h2>
        <h3>For Gym Bros:</h3>
        <p>Committed: Show Only Guys in My Feed</p>
        <p>Diverse: Show Guys & Girls in My Feed</p>
        <h3>For Gym Girls:</h3>
        <p>Committed: Show Only Girls in My Feed</p>
        <p>Diverse: Show Girls & Guys in My Feed</p>
      </div>
      <div class="views">
        <h2>My Timezone</h2>
        <form class="select-form" action="/settings" method="post">
          <label class="select-label" for="timezone">Select Your Timezone:</label>
          <div class="select-contain">
            <select name="user_timezone_str" id="timezone" class="select-box">
              {% for tz in all_timezones %}
                <option value="{{ tz }}" {% if tz == user_timezone %}selected{% endif %}>
                  {{ tz }}
                </option>
              {% endfor %}
            </select>
            <button class="select-btn" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block foot %}{% endblock %}
