{% extends "base.html" %}

{% block page %}Gym Tools{% endblock %}

{% block style %}tools{% endblock %}

{% block title %}
  <div id="title">
    <h1>Gym Tools</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="tool-contain">
    <a href="{{ url_for('pages.plate_calc') }}">Plate Calculator</a>
    <a href="{{ url_for('pages.one_rm_calc') }}">1 Rep Max Calculator</a>
    <a href="{{ url_for('pages.weight_conv') }}">Weight Unit Converter (kg & lbs)</a>
  </div>
{% endblock %}

{% block foot %}{% endblock %}
