.all-contain {
    width: 100%;
    height: 600px;
    position: relative;
    perspective: 1000px;
}

.book-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-container {
    height: 596px;
    width: 496px;
    padding: 40px;
    position: absolute; 
    top: 0;
    left: 50px; 
    z-index: 100;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content-contain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 10px;
}

.cover-container {
    height: 600px;
    width: 500px;
    position: absolute; 
    top: 0;
    left: 365px; 
    z-index: auto; 
}

.cover {
    height: 600px;
    width: 500px;
    background-color: #25283D;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 365px;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s ease;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
}

#front-cover {
    z-index: 100;
    cursor: pointer;
    transform: translateZ(5px);
}

#front-cover::before, #back-cover::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 520px;
    background-color: #fff;
    top: 35px;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
}

#front-cover::before {
    left: 0;
    z-index: 75;
    transform: translateZ(-1px);
}

#back-cover::after {
    right: 60px;
    z-index: -50;
    transform: translateZ(1px);
}

#front-cover .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.2s, opacity 0.5s ease;
}

#front-cover img {
    width: 578px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 3px solid #9D0000;
    border-bottom: 3px solid #9D0000;
    border-left: 1px solid #25283D;
    border-right: 1px solid #25283D;
}

#front-cover.flipped {
    transform: rotateY(-180deg) translateX(-500px);
    z-index: 1;
}

#front-cover.flipped .content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease;
}

#front-cover h1 {
    margin: 0;
    padding: 0;
    font-size: 75px;
    text-align: center;
}

#front-cover h3 {
    margin: 0;
    padding: 20px 0;
}

.book-contain {
    z-index: 50;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: absolute; 
    top: 40px;
    left: 0;
}

#back-cover {
    z-index: -100;
    position: absolute; 
    top: 0;
    left: 730px;
}

.book {
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    visibility: hidden;
    z-index: 50;
}

.book h4 {
    width: 80%;
}

.book .hard {
    color: #000;
    font-weight: bold;
    border: none;
}

.book .hard small {
    width: 80%;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    opacity: 0.7;
    font-size: 14px;
    padding: 5px 20px;
}

.book .hard h4 {
    text-align: center;
}

.book .hard h5 a {
    color: #9D0000;
    cursor: pointer;
    text-decoration: none;
}

.book .turn-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.turn-page ol {
    font-size: 18px;
}

.turn-page dl {
    width: 80%;
    border: solid 0 #ccc;
    border-width: 0.0625em 0;
    break-inside: avoid-column;
    margin: 1em auto;
    padding: 1em 0;
}

@keyframes open-cover {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg) translateX(0px);
    }
}

@keyframes close-cover {
    0% {
        transform: rotateY(180deg) translateX(0px);
    }

    100% {
        transform: rotateY(0deg);
    }
}

