#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

h1 {
    height: auto;
    font-size: 150px;
    letter-spacing: -10px;
    color: #9D0000;
    margin-top: 0;
    margin-bottom: 15px;
}

#post-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.post-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-title label svg {
    width: 30%;
}

#image {
    display: none;
}

label {
    height: 450px;
    width: 40%;
    border: 0.5px solid #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover {
    cursor: pointer;
}

#post-title, #post-content {
    width: 40%;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

#post-title {
    font-size: 30px;
}

#post-content {
    font-size: 20px;
}

#post-content:focus, #post-title:focus, #img-upload:focus {
    border: 3px solid #9D0000;
}

#button-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_btn {
    width: 100%;
    margin-top: -10px;
    font-size: 25px;
    background-color: #7D0000;
    color: #fff;
    padding: 10px 75px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
}

.sub_btn:hover {
    cursor: pointer;
}

