#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    height: auto;
    font-size: 150px;
    letter-spacing: -10px;
    color: #9D0000;
    margin-top: 0;
    margin-bottom: 15px;
}

.gallery-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.gallery > div {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img:not(.profile-pic) {
    width: 100%;
    filter: grayscale(100%);
    z-index: 5;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#back, #forw {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:not(.profile-pic):hover {
    filter: grayscale(0);
    cursor: pointer;
}

#badge-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}

#badge-contain img {
    width: 100%;
}

#badge-contain:hover {
    transform: scale(1.1);
    z-index: 15;
}

#scroll {
    width: 90%;
    z-index: 50;
    margin-bottom: -75px;
    pointer-events: none;
}

#scroll svg {
    color: #9D0000;
}

#img-bottom {
    width: 100%;
    margin-top: -65px;
    display: flex;
    z-index: 50;
    pointer-events: none;
}

#img-bottom a {
    width: 20%;
    pointer-events: auto;
}

#img-bottom a img {
    width: 100%;
    clip-path: circle(50%);
}

#icon-holder {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#voteBtn {
    width: 100%;
}

#vote {
    border: 2px solid #fff;
    border-radius: 15px;
    pointer-events: auto;
    margin-left: -5px;
}

.follow-friend {
    height: 50px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 15px;
}

.follow-friend svg {
    color: #fff;
    margin-bottom: -20px;
}

.follow-friend p {
    color: #fff;
}

.f-count {
    margin-left: -35px;
    color: #9D0000;
}

.add-btn {
    width: 30px;
    pointer-events: auto;
}

.add-btn:hover {
    cursor: pointer;
}



