.all-contain {
    width: 100%;
    height: 600px;
    position: relative;
}

.cover-contain, .book-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-container {
    height: 600px;
    width: 500px;
    position: absolute; 
    top: 0;
    left: 365px; 
    z-index: auto; 
}

.cover {
    height: 600px;
    width: 500px;
    background-color: #25283D;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 365px;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s ease;
}

#front-cover {
    z-index: 100;
}

#front-cover .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
}

#front-cover img {
    width: 608px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10px;
    border-top: 3px solid #9D0000;
    border-bottom: 3px solid #9D0000;
    border-left: 1px solid #25283D;
    border-right: 1px solid #25283D;
}

#front-cover.flipped {
    transform: rotateY(-180deg) translateX(-500px);
    z-index: 1;
}

#front-cover.flipped .content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease;
}

#front-cover h1 {
    margin: 0;
    padding: 0;
    font-size: 75px;
}

#front-cover h3 {
    margin: 0;
    padding: 20px 0;
}

.book-contain {
    z-index: 50;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: absolute; 
    top: 50px;
    left: 0;
}

#back-cover {
    z-index: 1;
    position: absolute; 
    top: 0;
    left: 740px;
}

.book {
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    z-index: 50;
}

.book .hard {
    color: #000;
    font-weight: bold;
    border: none;
}

.book .hard small {
    font-style: italic;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 14px;
}

.book .turn-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

@keyframes open-cover {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg) translateX(0px);
    }
}

@keyframes close-cover {
    0% {
        transform: rotateY(180deg) translateX(0px);
    }

    100% {
        transform: rotateY(0deg);
    }
}

