#title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

h1 {
    height: auto;
    font-size: 150px;
    letter-spacing: -10px;
    color: #9D0000;
    margin-top: 0;
    margin-bottom: 15px;
}

