#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    height: auto;
    font-size: 150px;
    color: #9D0000;
    top: 50px;
    margin-bottom: 15px;
}

