#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    height: auto;
    font-size: 150px;
    color: #9D0000;
    margin-top: 0;
    margin-bottom: 15px;
}

#prof-pic {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prof-pic h2 {
    font-size: 50px;
}

#face {
    height: auto;
    width: 200px;
    
}

.prog-bar-contain {
    height: 30px;
    width: 70%;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
}

.prog-bar {
    height: 30px;
    width: 1%;
    background-color: #9D0000;
    border: none;
    border-radius: 5px;
}

.contain {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.box h2 {
    color: #9D0000;
}

.box .ranks {
    width: 40%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 2px;
    margin-top: 5px;
    gap: 5px;
}

.box .first-goal {
    margin-top: 15px;
}

.ranks label {
    font-weight: 700;
}

.ranks input {
    width: 80%;
    font-size: 15px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

.ranks input:focus, #dream-build:focus, #natty:focus, #bio:focus, #motto:focus, .social-input input:focus {
    border: 1.5px solid #9D0000;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h3 {
    margin-bottom: -10px;
}

.info ul li {
    margin-left: -30px;
}

.info span {
    color: #9D0000;
}

.lst {
    margin-bottom: -10px;
}

#motto {
    width: 49%;
    padding: 10px;
    font-size: 20px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
}

#bio {
    width: 50%;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

.follow-friend {
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.f-count {
    margin-left: -35px;
}

.add-btn {
    width: 30px;
}

.add-btn:hover {
    cursor: pointer;
}

.social-add {
    position: relative;      
    display: inline-block;      
    cursor: pointer;
}

.social-add p {
    margin-left: -20px;
}

#add-social {
    height: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 160px;
    z-index: 10;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-content a p {
    padding: 1px 16px;
    text-align: center;
}

.dropdown-content a svg {
    width: 25px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.info select {
    width: 40%;
    font-size: 15px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

#natty, #relation, #birthday {
    margin-top: 20px;
}

#dream-build {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

#sub-all-btn {
    width: 40%;
    margin: 20px;
    font-size: 30px;
    background-color: #7D0000;
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


#sub-all-btn:hover {
    cursor: pointer;
}

.social-profile {
    display: inline-flex;
    align-items: center;
}

.social-input {
    display: none;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.social-input input {
    font-size: 15px;
    border: 0.5px solid #000;
    border-radius: 5px;
    outline: none;
}

.social-input a svg {
    width: 15px;
}

